<template>
  <v-row align="center" justify="center">
    <HomeComponent />
  </v-row>
</template>

<script>
// @ is an alias to /src
import HomeComponent from "@/components/HomeComponent.vue";

export default {
  name: "Home",
  components: {
    HomeComponent,
  },
};
</script>
