<template>
  <v-row>
    <register-form-component />
  </v-row>
</template>

<script>
import RegisterFormComponent from "../components/RegisterFormComponent.vue";
export default {
  components: { RegisterFormComponent },
};
</script>

<style></style>
