<template>
  <v-col col="12">
    <v-card elevation="2" class="tryit">
      <h1>REGISTER FORM</h1>
    </v-card>
  </v-col>
</template>

<script>
export default {
  name: "RegisterFormComponent",
};
</script>

<style>
.tryit {
  padding: 10px;
}
</style>
